/* .LottoBall {
  border-radius: 50%;
  color: white;
  min-width: 80px;
  min-height: 60px;
  max-width: 100px;
  max-height: 80px;
  padding: 20px 30px;
  padding-top: 0.75em;
  margin: 3px 10px;
  font-size: 30px;
  background-color: brown;
} */

.LottoBall {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.5em;
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.5em;
}
